html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

.mainContainer {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background: #3f3f3f
}

.navbar {
    height: 50px;
    width: 100%;
    background: #1887ee
}

.appContent {
    flex-grow: 1;
}